# --- VS Code sozlamalari ---
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# --- Node.js (JavaScript/TypeScript) ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
dist/
build/

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env
data
config.py

# --- Tizim fayllari ---
.DS_Store
Thumbs.db
desktop.ini

# --- Loglar va vaqtinchalik fayllar ---
logs
*.log
npm-debug.log*
yarn-debug.log*
.history/